html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.status-group {
    display: flex;
    float: right;
}

.status-group div {
    width: 32px;
    height: 24px;
    text-align: center;
}

.status-group div:hover {
    background: rgba(255,255,255,0.3);
}

/* Main Frame setup */
.container {
    display: block;
    width: 1280px;
    height: 720px;
    position: relative;
    background: #FFFFFF;
}

header {
    height: 45px;
    line-height: 4.7;
    color: #707070;
    background-color: #FFFFFF;
    clear: left;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

footer {
    padding: 9px 0;
    height: 23px;
    color: #353535;
    font-size: 10px;
    line-height: 2;
    background-color: #E7E8EA;
    clear: left;
}

#page-body {
    cursor: default;
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 720px;
    background: url('../img/new/bg_1280x720.png');
}