html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
}

/* Main Page */
.container {
    display: block;
    width: 960px;
    height: 540px;
    position: relative;
    background: #F8F8F8;
}

header {
    height: 70px;
    line-height: 2.5;
    color: #707070;
    background-color: #FFFFFF;
    clear: left;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}

footer {
    padding: 9px 0;
    height: 23px;
    color: #353535;
    font-size: 10px;
    font-weight: 700;
    line-height: 2;
    background-color: #E7E8EA;
    clear: left;
}

article {
    height: 429px;
    padding-left: 1em;
    overflow: hidden;
}

#inverted_triangle {
    padding-left: 71.5px;
    width: 8px;
    height: 6px;
}

#size-10 {
    font-size: 10px;
}

#size-11 {
    font-size: 11px;
}

#size-12 {
    font-size: 12px;
}

.backImg {
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
}

#peers {
    padding-left: 35%;
}

#APIS_logo {
    padding-left: 60px;
    padding-top: 15px;
    width: 56px;
    height: 40px;
}

.header-span {
    cursor: default;
    position: relative;
    padding: 25px 15px;
    margin-right: 20px;
    bottom: 18px;
    color: #707070;
    font-size: 12px;
    font-weight: 700;
    border: 4px transparent solid;
    border-style: hidden hidden solid hidden;
}

#wallet {
    color: #991D2B;
    border-color: #991D2B;
    margin-left: 50px;
}

.headerImg {
    position: relative;
    bottom: 5px;
    width: 25px;
    height: 25px;
}

#notification {
    margin-left: 10px;
}

#setting {
    margin-left: 5px;
}

#language {
    position: relative;
    bottom: 13px;
    margin-left: 15px;
    width:50px;
    border-style: hidden;
    color: #707070;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 12px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('img/select_arrow.jpg') no-repeat 100% 70%;
    background-size: 11px 6px;
}

select::-ms-expand {
    display: none;
}

#language:focus {
    outline: none;
}

option {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #353535;
}

option:checked {
    background-color: #707070;
}