label {
    font-family: "Dialog";
    font-size: 12px;
    font-weight: bold;
}

#cLabel {
    margin-left: 15px;
}

#dLabel {
    margin-left: 15px;
}

#aPlusBLabel {
    margin: 0px;
    font-weight: normal;
}

input[type=button] {
    height: 25px;
    width: 325px;
    margin: 0px 0px 5px 32px;
}

input[type=text] {
    height: 21px;
    width: 320px;
    margin: 0px 0px 10px 5px;
    border: 1px solid;
}

#abSum {
    margin: 5px 0px;
    width: 319px;
}