
/* font */
*.{  -fx-font-family: 'Open Sans'; }
.font_bold { -fx-font-family: 'Open Sans Bold'; }
.font_bold_10 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:10px; }
.font_bold_11 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:11px; }
.font_bold_12 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:12px; }
.font_bold_14 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:14px; }
.font_bold_16 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:16px; }
.font_bold_18 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:18px; }
.font_bold_20 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:20px; }
.font_bold_32 { -fx-font-family: 'Open Sans Bold'; -fx-font-size:32px; }
.font_semibold { -fx-font-family: 'Open Sans SemiBold';  }
.font_semibold_8 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:8px; }
.font_semibold_9 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:9px; }
.font_semibold_10 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:10px; }
.font_semibold_11 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:11px; }
.font_semibold_12 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:12px; }
.font_semibold_14 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:14px; }
.font_semibold_16 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:16px; }
.font_semibold_18 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:18px; }
.font_semibold_24 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:24px; }
.font_semibold_32 { -fx-font-family: 'Open Sans SemiBold'; -fx-font-size:32px; }
.font_regular { -fx-font-family: 'Open Sans Regular';  }
.font_regular_8 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:8px; }
.font_regular_9 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:9px; }
.font_regular_10 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:10px; }
.font_regular_11 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:11px; }
.font_regular_12 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:12px; }
.font_regular_14 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:14px; }
.font_regular_16 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:16px; }
.font_regular_18 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:18px; }
.font_regular_26 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:26px; }
.font_regular_35 { -fx-font-family: 'Open Sans Regular'; -fx-font-size:35px; }
.font_light { -fx-font-family: 'Open Sans Light';  }
.font_light_10 { -fx-font-family: 'Open Sans Light'; -fx-font-size:10px; }
.font_light_11 { -fx-font-family: 'Open Sans Light'; -fx-font-size:11px; }
.font_light_12 { -fx-font-family: 'Open Sans Light'; -fx-font-size:12px; }
.font_light_14 { -fx-font-family: 'Open Sans Light'; -fx-font-size:14px; }
.font_light_16 { -fx-font-family: 'Open Sans Light'; -fx-font-size:16px; }
.font_light_18 { -fx-font-family: 'Open Sans Light'; -fx-font-size:18px; }
.mono_font_regular_10 { -fx-font-family: 'Roboto Mono Regular'; -fx-font-size: 10px; }
.mono_font_regular_12 { -fx-font-family: 'Roboto Mono Regular'; -fx-font-size: 12px; }
.mono_font_light_10 { -fx-font-family: 'Roboto Mono Light'; -fx-font-size: 10px; }

/* radius */
.border_radius_3333 { -fx-border-radius : 3 3 3 3; -fx-background-radius: 3 3 3 3;}
.border_radius_4444 { -fx-border-radius : 4 4 4 4; -fx-background-radius: 4 4 4 4;}
.border_radius_0044 { -fx-border-radius : 0 0 4 4; -fx-background-radius: 0 0 4 4;}
.border_radius_0440 { -fx-border-radius : 0 4 4 0; -fx-background-radius: 0 4 4 0;}
.border_radius_10_10_10_10 { -fx-border-radius : 10 10 10 10; -fx-background-radius: 10 10 10 10;}
.border_radius_10_10_0_0 { -fx-border-radius : 10 10 0 0; -fx-background-radius: 10 10 0 0;}
.border_radius_0_0_10_10 { -fx-border-radius : 0 0 10 10; -fx-background-radius: 0 0 10 10;}
.border_radius_24_24_24_24 { -fx-border-radius : 24 24 24 24; -fx-background-radius: 24 24 24 24;}

/* underline */
.underline_gray { -fx-border-color: #999999;  -fx-border-width: 0 0 0 0; -fx-underline: true; }

/* slider and progress */
.slider .track { -fx-background-color:null; -fx-background-insets: 1 0 -1 0, 0, 1; -fx-background-radius: 2.5, 2.5, 1.5; -fx-padding: 0.208333em; }
.slider .thumb { -fx-background-color : #ffffff; -fx-border-color : #910000; -fx-border-width : 4; -fx-border-radius : 8; -fx-pref-height: 20; -fx-pref-width: 20; }
.progress-bar .track{ -fx-background-color : #d8d8d8; }
.progress-bar .bar { -fx-background-color: #910000; -fx-background-insets: 0; -fx-background-radius: 8; -fx-border-radius: 8; }

/* Text Area */
.text-area { -fx-background-insets: 0; -fx-background-color: transparent, white, transparent, white; }
.text-area .content { -fx-background-color: transparent, white, transparent, white; }
.text-area:focused .content { -fx-background-color: transparent, white, transparent, white; }
.text_area_transparent { -fx-background-insets: 0; -fx-background-color: transparent, transparent, transparent, transparent; }
.text_area_transparent:focused { -fx-background-color: #ffffff; }
.text_area_transparent .content { -fx-background-color: transparent, transparent, transparent, transparent; }
.text_area_transparent .scroll-pane { -fx-background-color: transparent; }
.text_area_transparent .scroll-pane .viewport { -fx-background-color: transparent; }
.text_area_transparent .scroll-pane .content { -fx-background-color: transparent; }
/* .text-area:focused { -fx-highlight-fill: #7ecfff; }
.text-area .content { -fx-padding: 10px; -fx-text-fill: gray; -fx-highlight-fill: #7ecfff; } */

/* Scoll-pane */
.scroll_pane_transparent { -fx-border-color: transparent; -fx-background-color: transparent; }
.scroll_pane_transparent .viewport { -fx-border-color: #f2f2f2; -fx-background-color: transparent; }
.scroll_pane_transparent .content { -fx-border-color: transparent; -fx-background-color: transparent; }
.scroll_pane_border_transparent { -fx-border-color: transparent; -fx-background-color: transparent; }
.scroll_pane_border_transparent:focused { -fx-background-color: #ffffff; }
.scroll_pane_border_transparent .viewport { -fx-border-color: transparent; -fx-background-color: transparent; }
.scroll_pane_border_transparent .content { -fx-border-color: transparent; -fx-background-color: transparent; }

/* ComboBox */
.combo-box-header { -fx-padding: 0 0 0 6; }
.combo-box-header .list-view { -fx-pref-width: 40; }
.combo-box-header .list-cell { -fx-text-fill: #707070; }
.combo-box-header .arrow-button { -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0; -fx-padding: 0 1.0em 0 -0.2em; -fx-background-color: transparent; -fx-alignment:center-left;}