/* The main scrollbar **track** CSS class  */
.listview .scroll-bar:horizontal .track,
.listview .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.listview .scroll-bar:horizontal .increment-button ,
.listview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 5 0;

}

/* The increment and decrement button CSS class of scrollbar */
.listview .scroll-bar:vertical .increment-button ,
.listview .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 5 0 0;

}

.listview .scroll-bar .increment-arrow,
.listview .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.listview .scroll-bar:horizontal .thumb,
.listview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,95%);
	-fx-background-insets: 1, 0, 0;
	-fx-background-radius: 2em;

}