.logo-wrapper {
    position: absolute;
    top: 80px;
}

.logo-wrapper img:nth-child(1) {
    position: relative;
    display: block;
    left: 80px;
}

.intro-group {
    display: flex;
    position: absolute;
    top: 222px;
    left: 96px;
    width: 400px;
    height: 280px;
}

.intro-group p {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 0.5;
}

.intro-group p:nth-child(1) {
    margin-top: 5px;
    opacity: 1;
}

.introGroupIndex img {
    position: relative;
    left: 5px;
}

.introGroupDetails {
    display: block;
    margin-left: 45px;
    width: 344px;
}

.introGroupDetails div:nth-child(1){
    font-size: 12px;
    color: #FFFFFF;
}
.introGroupDetails div:nth-child(2){
    position: relative;
    top: 33px;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}
.introGroupDetails div:nth-child(3){
    position: relative;
    top: 45px;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.introGroupDetails:nth-child(2) div:nth-child(2) {
    cursor: pointer;
}
.introGroupDetails:nth-child(2) div:nth-child(3) {
    cursor: pointer;
}

.introGroupDetails:nth-child(2) div:nth-child(2) font {
   opacity: 1;
}
.introGroupDetails:nth-child(2) div:nth-child(3) font {
    opacity: 0.3;
}

.introGroupDetails div:nth-child(2) img {
    position: relative;
    left: 63.4px;
}
.introGroupDetails div:nth-child(3) img {
    position: relative;
    left: 84px;
}

.introGroupDetails:nth-child(3) {
    position: relative;
    top: 38px;
    display: none;
}
.introGroupDetails:nth-child(3) div:nth-child(2){
    position: relative;
    top: 46px;
}
.introGroupDetails:nth-child(3) div:nth-child(3){
    position: relative;
    top: 54px;
    font-size: 12px;
    font-weight: 400;
}

.introGroupDetails:nth-child(4) {
    position: relative;
    top: 75px;
    display: none;
}
.introGroupDetails:nth-child(4) div:nth-child(2){
    position: relative;
    top: 46px;
}
.introGroupDetails:nth-child(4) div:nth-child(3){
    position: relative;
    top: 54px;
    font-size: 12px;
    font-weight: 400;
}

.introGroupDetails:nth-child(5) {
    position: relative;
    top: 113px;
    display: none;
}
.introGroupDetails:nth-child(5) div:nth-child(2){
    position: relative;
    top: 46px;
}
.introGroupDetails:nth-child(5) div:nth-child(3){
    position: relative;
    top: 54px;
    font-size: 12px;
    font-weight: 400;
}

.introGroupDetails:nth-child(6) {
    position: relative;
    top: 38px;
    display: none;
}
.introGroupDetails:nth-child(6) div:nth-child(2){
    position: relative;
    top: 46px;
}
.introGroupDetails:nth-child(6) div:nth-child(3){
    position: relative;
    top: 54px;
    font-size: 12px;
    font-weight: 400;
}

.introGroupDetails:nth-child(7) {
    position: relative;
    top: 75px;
    display: none;
}
.introGroupDetails:nth-child(7) div:nth-child(2){
    position: relative;
    top: 46px;
}
.introGroupDetails:nth-child(7) div:nth-child(3){
    position: relative;
    top: 54px;
    font-size: 12px;
    font-weight: 400;
}

.introGroupDetails:nth-child(8) {
    position: relative;
    top: 75px;
    display: none;
}
.introGroupDetails:nth-child(8) div:nth-child(2){
    position: relative;
    top: 46px;
}
.introGroupDetails:nth-child(8) div:nth-child(3){
    position: relative;
    top: 54px;
    font-size: 12px;
    font-weight: 400;
}

.introGroupDetails:nth-child(9) {
    position: relative;
    top: 113px;
    display: none;
}
.introGroupDetails:nth-child(9) div:nth-child(2){
    position: relative;
    top: 46px;
}
.introGroupDetails:nth-child(9) div:nth-child(3){
    position: relative;
    top: 54px;
    font-size: 12px;
    font-weight: 400;
}

#rightDoubleAngle {
    position: relative;
    top: 4px;
    margin-right: 4px;
}

.button-group {
    display: flex;
    position: absolute;
    top: 225px;
    left: 760px;
    margin: auto;
    width: 470px;
    height: 266px;
}

.button-group div:nth-child(1) {
    cursor: pointer;
    position: relative;
    width: 234px;
    height: 266px;
    background: url('../../img/new/btn_create_wallet.png') no-repeat center;
}
.button-group div:nth-child(2) {
    cursor: pointer;
    position: relative;
    right: 10px;
    width: 234px;
    height: 266px;
    background: url('../../img/new/btn_load_wallet_none.png') no-repeat center;
}

.footer {
    display: flex;
    position: absolute;
    top: 602px;
    left: 80px;
}

#home {
    display: none;
}

#navSpan {
    position: relative;
    /* bottom: 28px; when Home Button Popup then modify */
    bottom: 0px;
}

#navSpan img {
    margin: 0 1px;
}

#version {
    position: absolute;
    width: 265px;
    left: 865px;
    top: 12px;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

#horizontalLine {
    position: relative;
    bottom: 3px;
    margin: 0 16px;
}

/* Create Wallet Modal */
.progressPhases {
    display: none;
    position: absolute;
    width: 640px;
    height: 720px;
    left: 640px;
}

.create-modal-content {
    display: none;
    background-color: #f8f8f8;
    margin: auto;
    z-index: 1;
    padding: 0;
    border: 0;
    width: 638px;
    height: 718px;
    border: solid 1px #707070;
}

/* Option Modal */
#option-modal {
    display: none;
    position: fixed;
    padding-top: 229px;
    padding-left: 717px;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-option-content {
    display: none;
    background-color: #f8f8f8;
    padding: 0px;
    border: 0;
    border-radius: 4px;
    width: 486px;
    height: 262px;
}

.option-anounce {
    position: relative;
    top: 46px;
    left: 50px;
    text-align: left;
    font-size: 14px;
    color: #2b2b2b;
}

.option-anounce font {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: #2b2b2b;
}

.option-anounce-load {
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 80px 135px;
    padding-bottom: 0;
}

.option-bottom-no-yes {
    position: relative;
    top: 94px;
    left: 48px;
}

.option-bottom-no-yes img {
    cursor: pointer;
}

.option-bottom-confirm {
    position: relative;
    top: 94px;
    left: 48px;
}

.option-bottom-confirm img {
    cursor: pointer;
}

.option-bottom-last-confirm {
    position: relative;
    width: 80%;
    top: 70px;
    left: 30%;
}

.option-last-confirm {
    cursor: default;
    padding: 7px 55px;
    border-radius: 2.5px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: #fefefe;
    background: #a72130;
}

.option-last-confirm:hover {
    background: #801925;
}

/* Phase 2 */
.phase-top {
    position: absolute;
    top: 170px;
    left: 86px;
}

.create_wallet {
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
    color: #161515;
}

.additional_desc {
    font-size: 16px;
    color: #161515;
}

.phase-bottom-next-complete {
    position: absolute;
    width: 20%;
    top: 422px;
    left: 55%;
}

.phase-2-middle {
    position: absolute;
    top: 269px;
    left: 94px;
    font-size: 10px;
    font-weight: 600;
    color: #2b2b2b;
}

.phase-2-middle label.warn {
    position: relative;
    color: #910000;
    opacity: 0;
}

.phase-2-middle div {
    margin-top: 15px;
}

.walletNameBtn {
    position: absolute;
    top: 292px;
    left: 544px;
}

.walletPwBtn {
    position: absolute;
    top: 383px;
    left: 544px;
}

.wallet_password_cover {
    position: absolute;
    top: 383px;
    left: 520px;
}

.confirmPwBtn {
    position: absolute;
    top: 469px;
    left: 544px;
}

.confirm_password_cover {
    position: absolute;
    top: 469px;
    left: 520px;
}

.phaseBtn {
    cursor: pointer;
}

.wrong {
    position: relative;
    top: 4.5px;
    font-size: 22px;
    font-weight: 700;
    line-height: 0.7;
}

input[type="text"], input[type="password"] {
    width: 443px;
    padding: 10px 10px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    border-style: hidden hidden solid hidden;
}

input[class="wallet_name"], input[class="wallet_password"], input[class="password_confirm"]:focus {
    outline: none;
    border-color: #36b25b;
}

.wallet_name {
    font-weight: 600;
}
.wallet_password, .password_confirm, #load_wallet_password, #load_wallet_privateKey {
    padding-right: 27px;
    font-weight: 600;
}

::placeholder {
    color: #999999;
    font-size: 12px;
    font-weight: 600;
}
.wallet_password::placeholder {
    font-size: 11px;
}

.phase-bottom-back-next {
    position: absolute;
    top: 592px;
    left: 96px;
}

/* Phase 3 */
.phase-3-middle {
    position: absolute;
    top: 269px;
    left: 104px;
    font-size: 10px;
    font-weight: 600;
    color: #2b2b2b;
}

.download-keystore {
    cursor: pointer;
    margin-top: 8px;
    width: 456px;
    height: 48px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 4;
    color: #ffffff;
    background: #910000;
}

/* Phase 4 */
.phase-4-middle {
    position: absolute;
    top: 269px;
    left: 94px;
    font-size: 10px;
    font-weight: 600;
    color: #2b2b2b;
}

.create-modal-content:nth-child(3) img {
    cursor: pointer;
}
.create-modal-content:nth-child(3) img.back {
    cursor: default;
}

input[id="private-key"] {
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 464px;
    color: #999999;
    border-color: #999999;
    padding-right: 95px;
}

.private-key-copy {
    position: absolute;
    top: 292px;
    left: 475px;
}

.private-key-cover {
    position: absolute;
    top: 297px;
    left: 531px;
}

.private-key-print {
    position: absolute;
    top: 332px;
    left: 416px;
}

#key-uncover {
    display: none;
}

#key-cover {
    display: block;
}

/* Load Wallet Modal */
.load-modal-content {
    display: none;
    background-color: #f8f8f8;
    margin: auto;
    z-index: 1;
    padding: 0;
    border: 0;
    width: 638px;
    height: 718px;
    border: solid 1px #707070;
}

.load_wallet {
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
    color: #161515;
}

.load-phase-2-middle {
    position: absolute;
    top: 274px;
    left: 94px;
    line-height: 3;
    font-size: 14px;
    font-weight: 600;
    color: #2b2b2b;
}

.load-phase-3-middle {
    position: absolute;
    top: 269px;
    left: 94px;
    font-size: 10px;
    font-weight: 600;
    color: #2b2b2b;
}

.load-phase-4-middle {
    position: absolute;
    top: 269px;
    left: 93px;
    font-size: 10px;
    font-weight: 600;
    color: #2b2b2b;
}

.radioCheck {
    position: absolute;
    top: 265px;
    left: 90px;
}

input[type="radio"] {
    opacity: 0;
    margin-right: 6px;
}

.select-keystore {
    position: relative;
    top: 8px;
    width: 464px;
    height: 48px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    line-height: 4;
    font-size: 12px;
    color: #ffffff;
    background: #910000;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.drag-and-drop {
    position: relative;
    top: 30px;
    width: 464px;
    height: 84px;
    font-size: 11px;
    font-weight: 600;
    color: #2B2B2B;
    background: url('../../img/new/bg_dragdrop.png') no-repeat center;
}

.keystore-file-name {
    display: none;
    position: absolute;
    width: 443px;
    height: 74px;
    bottom: 4.6px;
    left: 6px;
    padding-left: 10px;
    line-height: 1;
    text-align: left;
    font-size: 10px;
    border-radius: 3px;
    color: #fefefe;
    background: #910000;
}

#keystore-file-name {
    position: absolute;
    top: 22px;
    left: 30px;
    font-size:12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 390px;
}

.load-phase-3-middle label {
    position: relative;
    top: 32px;
    color: #910000;
    font-size: 9px;
    padding-left: 10px;
    bottom: 5px;
    opacity: 0;
}

.loadWalletPw {
    position: relative;
    top: 45px;
}

#load_password_check {
    top: 2px;
}

#load_wallet_password::placeholder {
    font-size: 11px;
}

.loadWalletPwBtn {
    position: absolute;
    top: 502px;
    left: 544px;
}

.load-wallet-pw-cover {
    position: absolute;
    top: 502px;
    left: 520px;
}

.loadWalletPkBtn {
    position: absolute;
    top: 296px;
    left: 544px;
}

.load-wallet-pk-cover {
    position: absolute;
    top: 296px;
    left: 520px;
}

div[class$="cover"] img:last-child{
    position: relative;
    top: 2px;
}

.load-phase-4-middle label {
    position: relative;
    top: 5px;
    color: #910000;
    font-size: 10px;
    padding-left: 10px;
    bottom: 5px;
    opacity: 0;
}

#file-form-check {
    opacity: 0;
}

.close_file {
    color: #fefefe;
    float: right;
    line-height: 0.4;
    margin: 10px;
    margin-left: 0;
    font-size: 26px;
}

.close_file:hover, .close_file:focus {
    text-decoration: none;
    cursor: pointer;
}

.load-phase-5-middle {
    position: absolute;
    top: 269px;
    left: 94px;
    font-size: 10px;
    font-weight: 600;
    color: #2b2b2b;
}

.load-phase-5-middle label.warn {
    position: relative;
    color: #910000;
    opacity: 0;
}

.load-phase-5-middle div {
    margin-top: 15px;
}