article {
    height: 100%;
    overflow: hidden;
}

/* Footer */
footer div:nth-child(1) {
    font-weight: 300;
}

footer div:nth-child(2) {
    font-weight: 400;
}

#bottomAsset {
    position: relative;
    bottom: 2px;
    height: 4px;
}

.backImg {
    position: relative;
    top: 2px;
}

#size-10 {
    font-size: 10px;
}

#size-11 {
    font-size: 11px;
}

#size-12 {
    font-size: 12px;
}

.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.grey {
    color: #999999;
}

/* Header */
#APIS_logo {
    height: 22px;
}

.header-div {
    cursor: default;
    line-height: 5;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    border: 2px transparent solid;
    border-style: hidden hidden solid hidden;
}

#wallet {
    position: absolute;
    top: 24px;
    left: 274px;
    width: 72px;
    height: 58px;
    color: #910000;
    border-color: #910000;
    font-weight: 400;
}

#transfer {
    position: absolute;
    top: 24px;
    left: 368px;
    width: 82px;
    height: 58px;
}

#smart_contract {
    position: absolute;
    top: 24px;
    left: 470px;
    width: 122px;
    height: 58px;
}

#transaction {
    position: absolute;
    top: 24px;
    left: 610px;
    width: 101px;
    height: 58px;
}

#address_masking {
    position: absolute;
    top: 24px;
    left: 731px;
    width: 132px;
    height: 58px;
}

#notification {
    cursor: pointer;
    position: absolute;
    top: 46px;
    left: 1100px;
}

#setting {
    cursor: pointer;
    position: absolute;
    top: 46px;
    left: 1130px;
}

#language {
    position: absolute;
    top: 44px;
    left: 1165px;
    width: 40px;
    border-style: hidden;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../img/select_arrow.jpg') no-repeat 100% 70%;
    background-size: 10px 6px;
}

select::-ms-expand {
    display: none;
}

#language:focus {
    outline: none;
}

option {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #353535;
}

option:checked {
    background-color: #707070;
}

/* Article */
.articleTop {
    height: 200px;
}

.articleBottom {
    height: 395px;
}

.totalAsset {
    display: flex;
    position: absolute;
    width: 748px;
    top: 108px;
    left: 80px;
    padding: 8px 1px;
    padding-top: 0;
    font-size: 12px;
    color: #353535;
    border: 1px solid #D7DAE2;
    border-style: hidden hidden solid hidden;
}

.topDiv {
    cursor: default;
    width: 72px;
    height: 19px;
    text-align: center;
    line-height: 1.5;
    font-size: 11px;
    font-weight: 300;
    color: #999999;
    border: 2px transparent solid;
    border-style: hidden hidden solid hidden;
}

#APIS {
    position: absolute;
    top: 0;
    left: 596px;
    color: #910000;
    border-color: #910000;
    font-weight: 400;
}

#mineral {
    position: absolute;
    top: 0;
    left: 673px;
}

.searchAsset {
    position: absolute;
    top: 104px;
    left: 840px;
    width: 360px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.searchAsset input {
    padding: 8px 10px;
    padding-right: 42px;
    width: 360px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    color: #353535;
    background: #FFFFFF;
}

input:focus {
    outline: none;
}

input[id="searchTF"]::-webkit-input-placeholder {
    line-height: 1.5;
    font-size: 10px;
    opacity: 0.5;
    color: #999999;
}

#searchDiv {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 328px;
    width: 32px;
    height: 30px;
    text-align: center;
    background: #910000;
    border-radius: 0px 4px 4px 0px;
    color: transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#search {
    position: relative;
    top: 8px;
}

.amount {
    position: absolute;
    width: 702px;
    height: 108px;
    top: 144px;
    left: 80px;
    padding: 16px 24px;
    color: #f8f9fb;
    border-radius: 4px;
    background: url('../../img/new/bg_amount_750x140.png') no-repeat;
    box-shadow: 0 3px 6px 0 #d4d6dc;
}

#amount {
    font-size: 12px;
    font-weight: 400;
}

#amountTransfer {
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 657px;
    font-size: 12px;
    font-weight: 400;
}

#transferArrow {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

#APISNum {
    position: absolute;
    top: 45px;
    left: 24px;
    width: 706px;
    color: #f8f9fb;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-style: hidden hidden solid hidden;
    line-height: 1.4;
    font-size: 35px;
    font-weight: 400;
    text-align: right;
}

#size-26 {
    font-size: 26px;
}

#size-20 {
    font-size: 20px;
}

#APISUnit {
    font-size: 12px;
    font-weight: 300;
    color: #f8f9fb;
}

#amountMineral {
    position: absolute;
    top: 108px;
    left: 24px;
    font-size: 12px;
    color: #D4D6DC;
}

#info {
    position: relative;
    top: 1px;
}

#amountMnr {
    position: absolute;
    top: 108px;
    left: 170px;
    width: 560px;
    text-align: right;
    font-size: 11px;
    color: #D4D6DC;
}

#MnrUnit {
    font-size: 10px;
    font-weight: 300;
}

.rewards {
    position: absolute;
    top: 144px;
    left: 840px;
    width: 312px;
    height: 108px;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 12px;
    color: #353535;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#nowStaking {
    position: absolute;
    top: 16px;
    left: 263px;
    color: #910000;
}

#apisRewards {
    position: absolute;
    top: 60px;
    left: 15px;
}

.rewarded {
    position: absolute;
    top: 55px;
    left: 268px;
    font-size: 10px;
    font-weight: 400;
}

#rewardsNum {
    font-size: 34px;
    color: #910000;
}

.rewardsInfo {
    position: absolute;
    top: 112px;
    left: 168px;
    font-size: 10px;
    font-weight: 400;
    color: #999999;
}

#infoDarkGrey {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.bottomNevi {
    display: flex;
    position: absolute;
    top: 313px;
    left: 80px;
    width: 1120px;
    height: 40px;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    border: 1px solid #D4D6DC;
    border-style: hidden hidden solid hidden;
}

.bottomDiv {
    cursor: default;
    height: 38px;
    line-height: 3.5;
    text-align: center;
    border: 2px transparent solid;
    border-style: hidden hidden solid hidden;
}

#bottomWallet {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    color: #910000;
    border-color: #910000;
    font-weight: 400;
}

#APISAndTokens {
    position: absolute;
    top: 0;
    left: 80px;
    width: 97px;
}

.bottomNeviImg {
    cursor: pointer;
}

#change {
    position: absolute;
    top: 0;
    left: 712px;    
}

#password {
    position: absolute;
    top: 0;
    left: 752px;
}

#backUp {
    position: absolute;
    top: 0;
    left: 792px;
}

#delete {
    position: absolute;
    top: 0;
    left: 832px;
}

#miningWallet {
    position: absolute;
    top: -2px;
    left: 869px;
}

#createWallet {
    position: absolute;
    top: -4px;
    left: 995px;
}

[data-tooltip-text]:after {
    -webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 10px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
	
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
    bottom: 90%;
	opacity: 1;
}

#changeTooltip[data-tooltip-text]:hover:after {
    left: 660px;
}

#passwordTooltip[data-tooltip-text]:hover:after {
     left: 690px;
}

#backUpTooltip[data-tooltip-text]:hover:after {
     left: 760px;
}

#deleteTooltip[data-tooltip-text]:hover:after {
    left: 800px;
}

.wrap {
    position: absolute;
    width: 1120px;
    /* height: 300px; */
    top: 362px;
    left: 80px;
}
.header-bottomTable{
    width: 100%;
    height:30px;
    background-color:#fafafa;
    z-index:1;

    border-radius: 4px 4px 0px 0px;
    /* border-bottom: solid 1px #D8D8D8; */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.header-bottomTable tr, .header-bottomTable th {
    background: transparent;
}
.bottomTable {
    border-bottom: solid 1px #D8D8D8;
    border-left: solid 1px #d8d8d8;
    margin-left: -1px;

    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
    height:273px;
}
#walletTable {
    width: 100%;
}
.bottomTable table thead tr {
    height: 30px;
}
.bottomTable-th-inner {
    position: absolute;
    top:0;
    line-height: 2.6;
    font-size: 10px;
    font-weight: 300;
    text-align: left;
    z-index:1;
}
.activeOrder {
    color: #910000;
    font-weight: 400;
}

table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 3px 3px 0px 0px;
}

th,tr,td {
    border: none;
}

th {
    height: 24px;
    text-align: left;
    font-size: 10px;
    font-weight: 300;
    color: #707070;
    border: 1px solid #d8d8d8;
    background-color: #FFFFFF;
    border-style: hidden hidden solid hidden;
}

th:nth-child(1) {
    width: 44px;
}
th:nth-child(2) {
    width: 34px;
}
th:nth-child(3) {
    width: 227px;
}
th:nth-child(4) {
    width: 236px;
}
th:nth-child(5) {
    width: 400px;
}
th:nth-child(6) {
    width: 135px;
}
th:nth-child(7) {
    width: 44px;
}

#ascendingOrder {
    cursor: pointer;
    position: relative;
    top: 3px;
}

#notOrder {
    cursor: pointer;
    position: relative;
    top: 3px;
}

#infoDark {
    position: relative;
    top: 2px;
}

.walletList {
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #d8d8d8;
    background-color: #FFFFFF;
}

.clearTop{
    border-top: 0px solid #d8d8d8;
}

.walletList + .walletDetails td {
    -moz-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
}
.box-shadow{
    -moz-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
}

.walletList td:nth-child(1) {
    display: flex;
    height: 55px;
    border-left: 2px solid transparent;
    justify-content: center;
    align-items: center;
}

#checkedImg {
    display: none;
    cursor: pointer;
    height: 12px;
}

#uncheckedImg {
    display: none;
    cursor: pointer;
    height: 12px;
}

.walletList td:nth-child(2) {
    text-align: left;
}

.walletList td:nth-child(2) img{
    height: 24px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 50%;
}

.walletList td:nth-child(3) {
    text-align: left;
    font-size: 11px;
}

.walletList td:nth-child(3) img {
    cursor: pointer;
    display: none;
}

.walletAddress {
    display: inline-block;
    margin-top: 9px;
    width: 162px;
    letter-spacing: 0.3px;
    font-size: 10px;
    font-weight: 400;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#addressMaskingDiv {
    display: flex;
}

#addAddressMasking {
    cursor: pointer;
}

.walletList td:nth-child(5) {
    text-align: right;
    padding-right: 150px;
    font-size: 11px;
    font-weight: 400;
}

#transferBtnDiv {
    display: flex;
}

#transferBtnDiv img {
    cursor: pointer;
}

.listFoldDiv {
    display: flex;
    justify-content: center;
}

.listFoldDiv img {
    cursor: pointer;
    display: none;
}

#APISCoinLogoImg {
    width: 18px;
    height: 20px;
}

.walletDetails td {
    border-bottom: 1px solid #D8D8D8;
    vertical-align: middle;
}

.walletDetails td:nth-child(1) {
    height: 49px;
    border: none;
}
.walletDetails td:nth-child(3) {
    text-align: left;
    font-size: 11px;
}
.walletDetails td:nth-child(5) {
    text-align: right;
    padding-right: 150px;
    font-size: 11px;
    font-weight: 400;
}
.walletDetails td:nth-child(6) {
    text-align: left;
    font-size: 10px;
}
.walletDetails td:last-child {
    border: none;
}

.walletDetails:last-child td {
    border: none;
}

.walletDetails td:nth-child(3) img {
    vertical-align: middle;
}

.walletDetailsAll {
    display: none;
    color: #353535;
    background: #fafafa;
    font-weight: 300;
}

/* Modal */
/* Copy Address */
#copyAddrModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 281px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.copyAddrContent {
    display: none;
    width: 390px;
    height: 166px;
    margin: auto;
    padding: 48px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #2b2b2b;
    background-color: #fafafa;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.copyAddrContent div:first-child{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
}

.copyConfirm {
    margin-top: 65px;
    text-align: center;
}

#confirmSpan {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 168px;
    color: #FFFFFF;
    background: #910000;
    border-radius: 50px;
}

#copyWalletAddress {
    width: 350px;
    margin-top: 9px;
    letter-spacing: 0.8px;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Change Wallet Name */
.changeNameModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.changeNameContent {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 366px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    color: #2b2b2b;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.changeNameHeader {
    width: 100%;
    height: 111px;
    text-align: center;
}

.changeNameHeader div:nth-child(1) {
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 5px;
    font-size: 38px;
}

.changeNameHeader span:nth-of-type(1) {
    display: inline-block;
    margin-top: 42px;
    font-size: 18px;
}

.changeNameHeader span:nth-of-type(2) {
    display: inline-block;
    margin-top: 4px;
    font-weight: 300;
    color: #999999;
    line-height: 1.7;
}

.changeNameBody {
    padding: 32px 57px 48px 55px;
    height: 175px;
    background: #fafafa;
    border-radius: 0 0 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#changeNmSpan {
    display: inline-block;
    cursor: default;
    margin-top: 55px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 200px;
    color: #FFFFFF;
    background: #e3e5e9;
    border-radius: 50px;
}

.changeNameBtn {
    position: absolute;
    top: 175px;
    left: 487px;
}

.changeNameBody input {
    margin: 8px;
    width: 416px;
    background-color: #fafafa;
}

#checkGreen {
    display: none;
    margin-left: 8px;
    margin-right: 2px;
}

.change_name_check {
    color: #36b25b;
    font-size: 10px;
    font-weight: 400;
}

.change_name_check .wrong { 
    margin-left: 8px;
}

/* Change Wallet Password */
.changePasswordModal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.changePasswordContent {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 514px;
    border-radius: 5px;
    color: #3f3e39;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.changePasswordHeader {
    height: 111px;
    text-align: center;
}

.changePasswordHeader div:nth-child(1) {
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 5px;
    font-size: 38px;
}

.changePasswordHeader span:nth-of-type(1) {
    display: inline-block;
    margin-top: 42px;
    font-size: 18px;
}

.changePasswordHeader span:nth-of-type(2) {
    display: inline-block;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    line-height: 1.7;
}

.changePasswordBody {
    padding: 32px 57px 48px 55px;
    height: 323px;
    font-size: 12px;
    background-color: #fafafa;
    border-radius: 0 0 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#changePwSpan {
    display: inline-block;
    cursor: default;
    margin-top: 35px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 200px;
    color: #FFFFFF;
    background: #e3e5e9;
    border-radius: 50px;
}

.changePasswordBody input {
    margin: 8px;
    padding-right: 27px;
    width: 416px;
    background: #fafafa;
}

.changePasswordBody input::-webkit-input-placeholder {
    font-size: 11px;
}

.changePasswordBody .warn {
    margin-left: 8px;
    bottom: 5px;
    font-size: 10px;
}

.changePasswordBody label:nth-of-type(3) {
    display: inline-block;
    margin-top: 18px;
}

.change_password_current_cover {
    position: absolute;
    top: 173px;
    left: 462px;
}

.changePwCurrentBtn {
    position: absolute;
    top: 172px;
    left: 486px;
}

.change_password_new_cover {
    position: absolute;
    top: 271px;
    left: 462px;
}

.changePwNewBtn {
    position: absolute;
    top: 270px;
    left: 486px;
}

.change_password_confirm_cover {
    position: absolute;
    top: 338px;
    left: 462px;
}

.changePwConfirmBtn {
    position: absolute;
    top: 337px;
    left: 486px;
}

/* Backup Wallet */
.backupWalletModal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.backupWalletContent {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 512px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    color: #2b2b2b;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.backupWalletHeader {
    width: 100%;
    height: 108px;
    text-align: center;
}

.backupWalletHeader div:nth-child(1) {
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 5px;
    font-size: 38px;
}

.backupWalletHeader span:nth-of-type(1) {
    display: inline-block;
    margin-top: 45px;
    font-size: 18px;
    color: #3f3a39;
}

.backupWalletBody {
    padding: 32px 57px 48px 55px;
    height: 324px;
    background-color: #fafafa;
    border-radius: 0 0 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.backupWalletBody span:nth-of-type(1) {
    cursor: pointer;
    display: block;
    padding: 18px 99px 18px 92px;
    margin: 8px 0 40px 8px;
    font-weight: 600;
    color: #ffffff;
    background-color: #910000;
    border-radius: 4px;
}

.backupWalletBody span:nth-of-type(2) {
    display: inline-block;
    padding: 18px 36px 18px 37px;
    margin-top: 72.5px;
    line-height: 1.5;
    color: #999999;
    background-color: #d8d8d8;
    border-radius: 4px
}

.backupWalletBody input {
    width: 448px;
    color: #999999;
    border-color: #999999;
    background-color: #fafafa;
}

.backup_wallet_pk_copy {
    position: absolute;
    top: 269px;
    left: 431px;
}

.backup_wallet_pk_cover {
    position: absolute;
    top: 272px;
    left: 486px;
}

.backup_wallet_pk_print {
    position: absolute;
    top: 304px;
    left: 359px;
}


/* Remove Wallet */
.removeWalletModal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.removeWalletContent {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px;
    padding-left: 50px;
    width: 388px;
    height: 166px;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    color: #2b2b2b;
    background: #ffffff;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
}

.removeWalletHeader span:nth-of-type(2) {
    display: inline-block;
    margin-top: 13px;
    font-size: 14px;
    font-weight: 300;
}

.removeWalletBtnDiv {
    margin-top: 70px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.removeWalletBtnDiv span:first-child {
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
    padding: 15px 85px;
    border-radius: 50px;
    background-color: #999999;
}

.removeWalletBtnDiv span:last-child {
    cursor: pointer;
    padding: 15px 84px;
    border-radius: 50px;
    background-color: #910000;
}

/* scrollbar css */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { padding-top: 100px; background: #eeeeee; border-radius: 4px; }
::-webkit-scrollbar-thumb { background: #999999; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #555; }