article {
    height: 100%;
    overflow: hidden;
}

/* Footer */
footer div:nth-child(1) {
    font-weight: 400;
}

footer div:nth-child(2) {
    font-weight: 400;
}

#bottomAsset {
    position: relative;
    bottom: 2px;
    height: 4px;
}

.backImg {
    position: relative;
    top: 2px;
}

#size-10 {
    font-size: 10px;
}

#size-11 {
    font-size: 11px;
}

#size-12 {
    font-size: 12px;
}

.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.regular {
    color: #999999;
    font-weight: 400;
}

/* Header */
#APIS_logo {
    height: 22px;
}

.header-div {
    cursor: default;
    line-height: 5;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: 600;
    border: 2px transparent solid;
    border-style: hidden hidden solid hidden;
}

#wallet {
    position: absolute;
    top: 24px;
    left: 274px;
    width: 72px;
    height: 58px;
    color: #910000;
    border-color: #910000;
    font-weight: 700;
}

#transfer {
    position: absolute;
    top: 24px;
    left: 368px;
    width: 82px;
    height: 58px;
}

#smart_contract {
    position: absolute;
    top: 24px;
    left: 470px;
    width: 122px;
    height: 58px;
}

#transaction {
    position: absolute;
    top: 24px;
    left: 610px;
    width: 101px;
    height: 58px;
}

#address_masking {
    position: absolute;
    top: 24px;
    left: 731px;
    width: 132px;
    height: 58px;
}

#notification {
    cursor: pointer;
    position: absolute;
    top: 46px;
    left: 1100px;
}

#setting {
    cursor: pointer;
    position: absolute;
    top: 46px;
    left: 1130px;
}

#language {
    position: absolute;
    top: 44px;
    left: 1165px;
    width: 40px;
    border-style: hidden;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../img/select_arrow.jpg') no-repeat 100% 70%;
    background-size: 11px 6px;
}

select::-ms-expand {
    display: none;
}

#language:focus {
    outline: none;
}

option {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #353535;
}

option:checked {
    background-color: #707070;
}

/* Article */
.articleTop {
    height: 200px;
}

.articleBottom {
    height: 395px;
}

.totalAsset {
    display: flex;
    position: absolute;
    width: 748px;
    top: 108px;
    left: 80px;
    padding: 8px 1px;
    padding-top: 0;
    font-size: 12px;
    font-weight: 700;
    color: #353535;
    border: 1px solid #D7DAE2;
    border-style: hidden hidden solid hidden;
}

.topDiv {
    cursor: default;
    width: 72px;
    height: 22px;
    text-align: center;
    line-height: 1.5;
    font-size: 11px;
    font-weight: 600;
    color: #999999;
    border: 2px transparent solid;
    border-style: hidden hidden solid hidden;
}

#APIS {
    position: absolute;
    top: 0;
    left: 596px;
    color: #910000;
    border-color: #910000;
    font-weight: 700;
}

#mineral {
    position: absolute;
    top: 0;
    left: 673px;
}

.searchAsset {
    position: absolute;
    top: 104px;
    left: 840px;
    width: 360px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.searchAsset input {
    padding: 8px 10px;
    padding-right: 42px;
    width: 360px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    color: #353535;
    background: #FFFFFF;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 10px;
    font-weight: 600;
    opacity: 0.5;
    color: #999999;
}

#searchDiv {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 328px;
    width: 32px;
    height: 30px;
    text-align: center;
    background: #910000;
    border-radius: 0px 4px 4px 0px;
    color: transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#search {
    position: relative;
    top: 6px;
}

.amount {
    position: absolute;
    width: 702px;
    height: 108px;
    top: 144px;
    left: 80px;
    padding: 16px 24px;
    color: #FFFFFF;
    border-radius: 4px;
    background: url('../../img/new/bg_amount_750x140.png') no-repeat;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

#amount {
    font-size: 12px;
    font-weight: 700;
}

#amountTransfer {
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 657px;
    font-size: 12px;
    font-weight: 600;
}

#transferArrow {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

#APISNum {
    position: absolute;
    top: 50px;
    left: 24px;
    width: 706px;
    border: 1px solid #FFFFFF;
    border-style: hidden hidden solid hidden;
    font-size: 35px;
    font-weight: 400;
    text-align: right;
}

#size-26 {
    font-size: 26px;
}

#size-20 {
    font-size: 20px;
}

#APISUnit {
    font-size: 12px;
    font-weight: 300;
}

#amountMineral {
    position: absolute;
    top: 108px;
    left: 24px;
    font-size: 12px;
    color: #D4D6DC;
}

#info {
    position: relative;
    top: 1px;
}

#amountMnr {
    position: absolute;
    top: 108px;
    left: 170px;
    width: 560px;
    text-align: right;
    font-size: 11px;
    color: #D4D6DC;
}

#MnrUnit {
    font-size: 10px;
    font-weight: 300;
}

.rewards {
    position: absolute;
    top: 144px;
    left: 840px;
    width: 312px;
    height: 108px;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    color: #353535;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#nowStaking {
    position: absolute;
    top: 16px;
    left: 263px;
    color: #910000;
}

#apisRewards {
    position: absolute;
    top: 60px;
    left: 15px;
}

.rewarded {
    position: absolute;
    top: 50px;
    left: 268px;
    font-size: 10px;
    font-weight: 400;
}

#rewardsNum {
    font-size: 34px;
    color: #910000;
}

.rewardsInfo {
    position: absolute;
    top: 112px;
    left: 168px;
    font-size: 10px;
    font-weight: 400;
    color: #999999;
}

#infoDarkGrey {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.bottomNevi {
    display: flex;
    position: absolute;
    top: 313px;
    left: 80px;
    width: 1120px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    color: #999999;
    border: 1px solid #D4D6DC;
    border-style: hidden hidden solid hidden;
}

.bottomDiv {
    cursor: default;
    height: 38px;
    line-height: 3.5;
    text-align: center;
    border: 2px transparent solid;
    border-style: hidden hidden solid hidden;
}

#bottomWallet {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    color: #910000;
    border-color: #910000;
    font-weight: 700;
}

#APISAndTokens {
    position: absolute;
    top: 0;
    left: 80px;
    width: 97px;
}

.bottomNeviImg {
    cursor: pointer;
}

#change {
    position: absolute;
    top: 0;
    left: 712px;    
}

#password {
    position: absolute;
    top: 0;
    left: 752px;
}

#backUp {
    position: absolute;
    top: 0;
    left: 792px;
}

#delete {
    position: absolute;
    top: 0;
    left: 832px;
}

#miningWallet {
    position: absolute;
    top: -2px;
    left: 869px;
}

#createWallet {
    position: absolute;
    top: -4px;
    left: 995px;
}

[data-tooltip-text]:after {
    -webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 10px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
	
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
    bottom: 90%;
	opacity: 1;
}

#changeTooltip[data-tooltip-text]:hover:after {
    left: 655px;
}

#passwordTooltip[data-tooltip-text]:hover:after {
     left: 685px;
}

#backUpTooltip[data-tooltip-text]:hover:after {
     left: 755px;
}

#deleteTooltip[data-tooltip-text]:hover:after {
    left: 795px;
}

.wrap {
    position: absolute;
    width: 1120px;
    height: 300px;
    top: 362px;
    left: 80px;
}
.header-bottomTable{
    position:absolute;
    left:0;
    top:0;
    width:98.75%;
    height:30px;
    background-color:#fafbfb;
    z-index:1;

    border-radius: 3px 3px 0px 0px;
    border: solid 1px #D8D8D8;
}
.bottomTable {
    border-radius: 3px 3px 0px 0px;
    border: solid 1px #D8D8D8;

    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
    height:100%;
}
.bottomTable table thead tr {
    height: 30px;
}
.bottomTable-th-inner {
    position: absolute;
    top:0;
    line-height: 32px;
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    z-index:1;
}
.activeOrder {
    color: #910000;
}

table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 3px 3px 0px 0px;
}

th,tr,td {
    border: none;
}

th {
    height: 24px;
    text-align: left;
    font-size: 10px;
    font-weight: 600;
    color: #707070;
    background-color: #FFFFFF;
    border: solid 1px #d4d6dc;
    border-style: hidden hidden solid hidden;
}

th:nth-child(1) {
    width: 44px;
}
th:nth-child(2) {
    width: 34px;
}
th:nth-child(3) {
    width: 227px;
}
th:nth-child(4) {
    width: 236px;
}
th:nth-child(5) {
    width: 400px;
}
th:nth-child(6) {
    width: 135px;
}
th:nth-child(7) {
    width: 44px;
}

#ascendingOrder {
    cursor: pointer;
    position: relative;
    top: 3px;
}

#notOrder {
    cursor: pointer;
    position: relative;
    top: 3px;
}

#infoDark {
    position: relative;
    top: 2px;
}

.walletList {
    border: 1px solid #D8D8D8;
    background-color: #FFFFFF;
}

.walletList + .walletDetails td {
    -moz-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
}
.box-shadow{
    -moz-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2);
}

.walletList td:nth-child(1) {
    display: flex;
    height: 55px;
    border-left: 2px solid transparent;
    justify-content: center;
    align-items: center;
}

#checkedImg {
    display: none;
    cursor: pointer;
    height: 12px;
}

#uncheckedImg {
    display: none;
    cursor: pointer;
    height: 12px;
}

.walletList td:nth-child(2) {
    text-align: left;
}

.walletList td:nth-child(2) img{
    vertical-align: middle;
}

.walletList td:nth-child(3) {
    text-align: left;
    font-size: 11px;
    font-weight: 700;
}

.walletAddress {
    width: 162px;
    font-size: 10px;
    font-weight: 400;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#addressMaskingDiv {
    display: flex;
}

#addAddressMasking {
    cursor: pointer;
}

#transferBtnDiv {
    display: flex;
}

#transferBtnDiv img {
    cursor: pointer;
}

.listFoldDiv {
    display: flex;
    justify-content: center;
}

.listFoldDiv img {
    cursor: pointer;
    display: none;
}

#APISCoinLogoImg {
    width: 18px;
    height: 20px;
}

.walletDetails td {
    border-bottom: 1px solid #D8D8D8;
    vertical-align: middle;
}

.walletDetails td:nth-child(1) {
    height: 49px;
    border: none;
}
.walletDetails td:nth-child(3) {
    text-align: left;
    font-size: 11px;
    font-weight: 600;
}
.walletDetails td:nth-child(5) {
    text-align: right;
    padding-right: 150px;
    font-weight: 700;
}
.walletDetails td:nth-child(6) {
    text-align: left;
    font-size: 10px;
    font-weight: 400;
}
.walletDetails td:last-child {
    border: none;
}

.walletDetails:last-child td {
    border: none;
}

.walletDetails td:nth-child(3) img {
    vertical-align: middle;
}

.walletDetailsAll {
    display: none;
    background: #fafafa;
}

/* Modal */
#copyAddrModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 160px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}

.copyAddrContent {
    display: none;
    line-height: 1.7;
    background-color: #fefefe;
    margin: auto;
    padding: 28px 32px;
    border: 0;
    border-radius: 5px;
    font-size: 11px;
    width: 259px;
    height: 157px;
}

.copyAddrContent div:first-child{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #2B2B2B;
}

.copyConfirm {
    margin-top: 60px;
    text-align: center;
}

#confirmSpan {
    cursor: default;
    font-size: 10px;
    font-weight: 600;
    padding: 10px 110px;
    color: #FFFFFF;
    background: #910000;
    border-radius: 4px;
}

#confirmSpan:hover {
    background: #801925;
}

#copyWalletAddress {
    width: 160px;
    font-size: 10px;
    font-weight: 300;
    text-decoration: underline;
    color: #353535;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
