    ul, li { margin:0; padding:0; }
    .article { text-align:center; }
    .article-container { text-align:left; width:1120px; height:100%; display: inline-block; }

/* left */
    .transfer-article-left { width:750px; height:100%; float: left; }
    .transfer-article-left .transfer-article-header { height:21px; padding: 0 1px; padding-top:24px; border-bottom: 1px solid #d7dae2; }
    .transfer-article-left .transfer-article-header .header-title { float: left; font-size: 12px; font-weight: 700; color: #353535; }
    .transfer-article-left .transfer-article-header .header-menu { float: right; }
    .transfer-article-left .transfer-article-header .header-menu ul { overflow:auto; }
    .transfer-article-left .transfer-article-header .header-menu ul li{ float:left; list-style-type:none; padding: 8px 18px; padding-top: 0; font-size: 11px; font-weight: 400; color:#999999; }
    .transfer-article-left .transfer-article-header .header-menu ul li.active{ border-bottom: 2px solid #910000; font-weight: 700; color:#910000; }
    .transfer-article-left .transfer-article-header .header-menu ul li img{ width:10px; height:6px; padding-left:8px; }
    .transfer-article-left .transfer-article-body { padding-top: 32px; padding-left: 24px; padding-right: 30px; padding-bottom: 32px; height: 100%; }
    .transfer-article-left .transfer-article-body .content { height:100%; position:relative; font-size:10px; font-weight:400; color:#999999; }
    .transfer-article-left .transfer-article-body .content .title { padding-bottom:4px; display:inline-block; font-size:12px; font-weight:600; color:#2b2b2b; }
    .transfer-article-left .transfer-article-body .content hr { height: 0; margin: 16px 0px; border: solid 1px #e2e4e8; }
    .transfer-article-left .transfer-article-body .content .btn { margin:4px 0px; padding: 4px 10px; display: inline-block; border: 1px solid #910000; border-radius: 4px; text-decoration:none; font-weight:400; background-color: #ffffff; color:#910000; }
    .transfer-article-left .transfer-article-body .content .box { height: 48px; margin-bottom: 16px; border: solid 1px #d8d8d8; border-radius: 4px; background-color: #fafafa; }
    .transfer-article-left .transfer-article-body .content .active { border: solid 1px #999999; background-color: #ffffff; }
    .transfer-article-left .transfer-article-body .content .right{ float:right; }

    .transfer-article-left .transfer-article-body .content .transfer-amount .body { width: 100%; height: 32px; margin-top: 8px; }
    .transfer-article-left .transfer-article-body .content .transfer-amount .body .input { width:614px; height:100%; float:left; }
    .transfer-article-left .transfer-article-body .content .transfer-amount .body .input .placeholder { width:564px; height: 100%; padding-top:8px; padding-left:16px;}
    .transfer-article-left .transfer-article-body .content .transfer-amount .body .input .text { width:580px; margin-top:-2px;}

    .transfer-article-left .transfer-article-body .content .transfer-amount .body .input input { width:100%; padding:8px 16px; padding-right:8px; border:none; font-size:16px; background: transparent; }
    .transfer-article-left .transfer-article-body .content .transfer-amount .body .input .natural { font-size:16px; }
    .transfer-article-left .transfer-article-body .content .transfer-amount .body .input .decimal { font-size:14px; }
    .transfer-article-left .transfer-article-body .content .transfer-amount .body .input .unit { display: inline-block; padding-top: 10px; font-size:12px; }

    .transfer-article-left .transfer-article-body .content .transfer-amount .body .per { width:64px; padding-right:16px; height:100%; float:right; }

    .transfer-article-left .transfer-article-body .content .gas-price .gas-price-header { padding-top:8px; }
    .transfer-article-left .transfer-article-body .content .gas-price .result { margin-bottom:8px; }
    .transfer-article-left .transfer-article-body .content .gas-price .result .natural1 { font-size:16px; color:#2b2b2b; }
    .transfer-article-left .transfer-article-body .content .gas-price .result .decimal1 { font-size:14px; color:#2b2b2b; }
    .transfer-article-left .transfer-article-body .content .gas-price .result .time1 { margin-left:18px; font-size:16px; color:#910000; }
    .transfer-article-left .transfer-article-body .content .gas-price .result .time2 { color:#910000; }
    .transfer-article-left .transfer-article-body .content .gas-price .result .unit1 { margin-left:4px; margin-right:16px; font-size:12px; color:#2b2b2b; }
    .transfer-article-left .transfer-article-body .content .gas-price .bar { width: 520px; height: 34px; position: relative; margin-top: 8px; margin-bottom: 16px; }
    .transfer-article-left .transfer-article-body .content .gas-price .bar .bar-background { width: 100%; height: 8px; position: absolute; top: 6px; left: 0px; display: inline-block; border-radius: 4px; background: #d8d8d8; }
    .transfer-article-left .transfer-article-body .content .gas-price .bar .bar-move { width: 0%; height: 8px; position: absolute; top: 6px; left: 0px; display: inline-block; border-radius: 4px; background: #910000; }
    .transfer-article-left .transfer-article-body .content .gas-price .bar .bar-handle { width: 16px; height: 16px; position: absolute; top: 0px; left: 0px; display: inline-block; border: 2px solid #910000; border-radius: 10px; background: #ffffff; }
    .transfer-article-left .transfer-article-body .content .gas-price .bar .bar-left-text { position: absolute; left: 0px; bottom: 0px; }
    .transfer-article-left .transfer-article-body .content .gas-price .bar .bar-right-text { position: absolute; right: 0px; bottom: 0px; }
    .transfer-article-left .transfer-article-body .content .gas-price .comment p {padding:0; margin:0px; }
    .transfer-article-left .transfer-article-body .content .gas-price .comment p .sec{ color:#910000; }

    .transfer-article-left .transfer-article-body .content .receving-address { height: 40px; margin:0px; }
    .transfer-article-left .transfer-article-body .content .receving-address .input { width:100%; height:100%; }
    .transfer-article-left .transfer-article-body .content .receving-address .input .placeholder { width: 97.7%; height: 74%; display: inline-block; padding-top:8px; padding-left:16px; font-size:12px; line-height: 2;  }
    .transfer-article-left .transfer-article-body .content .receving-address .input input { width:100%; height:100%; padding:8px 16px; padding-right:8px; border:none; font-size:16px; background: transparent; display:none;}


/* right */
    .transfer-article-right { width: 360px; height: 100%; float: right; }
    .transfer-article-right .transfer-article-body { height:472px; margin-top:85px; box-shadow: 0px 4px 6px 1px #cccccc; border-radius: 5px 5px 0px 0px;}
    .transfer-article-right .transfer-article-body .natural { font-size: 12px; font-weight: 400;}
    .transfer-article-right .transfer-article-body .decimal { font-size: 10px; font-weight: 400;}

/* right top */
    .transfer-article-right .transfer-article-body .top { height:79px; padding:32px; padding-top:29px; padding-bottom:18px; background-color:#ffffff; border-radius: 5px 5px 0px 0px;}
    .transfer-article-right .transfer-article-body .top .content { height:100%; position:relative; }
    .transfer-article-right .transfer-article-body .top .content span { position:absolute; }
    .transfer-article-right .transfer-article-body .top .content span.total { top:0px; left:0px; font-size: 12px; color:#999999;}
    .transfer-article-right .transfer-article-body .top .content span.natural { bottom:23px; left:0px; font-size: 24px; color:#2b2b2b;}
    .transfer-article-right .transfer-article-body .top .content span.decimal { bottom:0px; left:0px; font-size: 14px; color:#2b2b2b;}
    .transfer-article-right .transfer-article-body .top .content span.decimal font { font-size: 10px; }
    .transfer-article-right .transfer-article-body .top .content span.icon { top:0px; right:0px; }
    .transfer-article-right .transfer-article-body .top .content span.icon img{ top:0px; right:0px; width:72px; height:80px;}

/* right body */
    .transfer-article-right .transfer-article-body .body { height:281px; padding:32px; background-color:#fafafa; }
    .transfer-article-right .transfer-article-body .body .content { height:100%; position:relative; color:#999999; }
    .transfer-article-right .transfer-article-body .body .content div { position:absolute; }
    .transfer-article-right .transfer-article-body .body .content .layer-zero {  }
    .transfer-article-right .transfer-article-body .body .content .layer-one { top: 33px; left: 0px; width: 100%; height: 87px; font-size: 10px; line-height: 1.4; }
    .transfer-article-right .transfer-article-body .body .content .layer-one p { height:17px; margin:0; margin-bottom: 8px; clear:both; }
    .transfer-article-right .transfer-article-body .body .content .layer-one p.total { color:#2b2b2b; }
    .transfer-article-right .transfer-article-body .body .content .layer-one hr { margin:0; margin-bottom: 8px; border: solid 0.5px #e2e4e8; }
    .transfer-article-right .transfer-article-body .body .content .layer-one .float-left { float:left; font-weight: 300;}
    .transfer-article-right .transfer-article-body .body .content .layer-one .float-right { float:right; }
    .transfer-article-right .transfer-article-body .body .content .layer-one .float-right { float:right; }
    .transfer-article-right .transfer-article-body .body .content .layer-two { bottom:64px; left:0px; width:252px; height:55px; padding-top:16px; padding-bottom:17px; padding-left:22px; padding-right:22px; background:#f2f2f2; clear:both;}
    .transfer-article-right .transfer-article-body .body .content .layer-two p { margin:0; padding:0; margin-bottom:5px; position:relative; font-size: 10px; font-weight: 300; line-height: 1.4;}
    .transfer-article-right .transfer-article-body .body .content .layer-two p.second { height:22px; }
    .transfer-article-right .transfer-article-body .body .content .layer-two p.second img { width:14px; height:16px; margin-right:8px; }
    .transfer-article-right .transfer-article-body .body .content .layer-two p.second span { position: absolute; top:-2px;}
    .transfer-article-right .transfer-article-body .body .content .layer-two p.second .num { font-size:16px; }
    .transfer-article-right .transfer-article-body .body .content .layer-three { width: 106%; margin-left:-3%; bottom:-15px; left:0px; }
    .transfer-article-right .transfer-article-body .body .content .layer-three div{ width: 260px; margin-top: -2px; }
    .transfer-article-right .transfer-article-body .body .content .layer-three font{ position: absolute; top: 3px; left: 0px; }
    .transfer-article-right .transfer-article-body .body .content .layer-three img{ width: 100%; }
    .fixed { position: fixed; }
    .clear-both { display:none; clear:both; }
    .flow-root { /*display: flow-root;*/ height:18px; }
    .flow-left { float:left; }
    .flow-right { float:right; }
    .btn-detail { top:0px; left:0px; padding: 0px 7px; margin-right:8px; border: 1px solid #999999; border-radius: 4px; font-size: 10px; font-weight:400; line-height: 1.4; }
    .font-size-12 {font-size:12px;}





/* popup */
    .transfer_modal { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.3); }
    .transfer_modal_contents { margin: 0; padding: 0; width: 43.75%; height: 82.50%; position: absolute; top: 8.75%; left: 28.125%; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); border-radius: 10px; background-color: #f8f8f8; }
    .transfer_modal_contents p { margin:0; padding:0;  }
    .transfer_modal_header { width: 100%; height: 18.16%; border-radius: 10px 10px 0px 0px; background: #ffffff; }
    .transfer_modal_header .title { padding-top: 7.07%; padding-bottom: 5px; }
    .transfer_modal_header .title font { font-size: 18px; font-weight: normal; color: #3f3a39;}
    .transfer_modal_header .sub_title font { font-size: 12px; font-weight: 300; color: #999999;}
    .transfer_modal_header .btn_close { position: absolute; top: 21px; right: 21px; }
    .transfer_modal_header .btn_close img { width:16px; height:16px; }


    .transfer_modal_body { width: 100%; height: 81.31%; background: rgba(0,0,0,0.0) }
    .transfer_modal_body .content { width: 88.57%; margin: 5.71%; margin-bottom: 14px; position: relative; background: #ffffff; background-image: url(img/new/logo_contents_grey.png); background-position: center; background-repeat: no-repeat; }
    .transfer_modal_body .content .container { display: inline-block; width: 90%; height: 80%; margin-top: 5%; background: transparent; font-size:10px; font-weight: 300; color:#999999; }

    .transfer_modal_body .content .container p { position: relative; height:14px; margin:16px 10px; margin-top:0px; }
    .transfer_modal_body .content .container p .total { font-weight: normal; color:#2b2b2b; }
    .transfer_modal_body .content .container .header { height:22px; margin-bottom:16px;}
    .transfer_modal_body .content .container .header img { width:32px; height:22px; margin-left:10px; float:left;}
    .transfer_modal_body .content .container .header span { float:right; text-align: right;}
    .transfer_modal_body .content .container .header span p { margin:0; padding:0; margin-right:10px;}
    .transfer_modal_body .content .container .header span p .success { font-weight: 600; color:#2b2b2b; }

    .transfer_modal_body .content .container .left { position: absolute; top:0px; left:0px; }
    .transfer_modal_body .content .container .right { position: absolute; top:0px; right:0px; }
    .transfer_modal_body .content .container .double-line { width:100%; height: 1px; margin-bottom:16px; border:none; border-top: 1px solid #eeeeee; border-bottom: 1px solid #cccccc; }
    .transfer_modal_body .content .container .dot-line { width:100%; height: 0px; margin-bottom:18px; border: none; border-bottom: 1px dotted #cccccc; }

    .transfer_modal_body .content .content-footer { position: absolute; width:100%; height:8px; bottom: -4px; overflow:hidden; }
    .transfer_modal_body .content .content-footer ul { position: absolute; width:100%; height:100%; }
    .transfer_modal_body .content .content-footer li { float: left; width: 8px; height: 8px; margin: 0; margin-left: 4px; padding: 0; border-style: none; border-radius: 4px; list-style: none; background: #f8f8f8;}

    .transfer_modal_body .transfer_modal_passwd { width: 88.57%; margin: 5.71%; margin-top: 0;}
    .transfer_modal_body .transfer_modal_passwd .container { display: inline-block; width: 90%; height: auto; background: transparent; }

    .transfer_modal_body .transfer_modal_passwd .container .content-footer { width:100%;}
    .transfer_modal_body .transfer_modal_passwd .container .content-footer .btn { width:100%; height:100%; }
    .transfer_modal_body .transfer_modal_passwd .container .content-footer .btn img { max-width:100%; max-height:100%; }

    .transfer_modal_body .transfer_modal_passwd .container .title { width: 100%; font-size: 10px; text-align: left; display: inline-block; }



    .transfer_modal_body .transfer_modal_passwd .input_pass {font-size : 10px; text-align: left; margin-bottom: 21px; padding-left:10px;}
    .transfer_modal_body .transfer_modal_passwd .input_pass .text {position: relative; overflow: hidden; }
    .transfer_modal_body .transfer_modal_passwd .input_pass .text input { padding: 8px 0px; border: none; border-bottom: 1px solid #000000; background: transparent; font-size:12px; }
    .transfer_modal_body .transfer_modal_passwd .input_pass .text img { width: 16px; margin-left:6px; }
    .transfer_modal_body .transfer_modal_passwd .input_pass .text img.hide { }
    .transfer_modal_body .transfer_modal_passwd .input_pass .hint { padding-left:9px; color:#910000; }